@page "/simsimi"
@inject ISimSimiAPI _simSimiAPI

<div class="container">
    <div class="row">
        <div class="col">
            <div class="card" style="height:600px">
                <div class="card-header">
                    <span class="oi oi-chat"></span>
                    <span class="card-title">Chatea con SimSimi</span>
                </div>
                <div class="card-body d- justify-content-end flex-column overflow-auto">
                    @foreach (var message in _simSimiAPI.Messages)
                    {
                        if (message.User == "Me")
                        {
                            <div class="text-left">
                                <div class="alert alert-primary d-inline-block mb-2 py-2">
                                    <span class="small text-muted">Yo - @message.Date</span>
                                    <br />
                                    <span>@message.Message</span>
                                </div>
                            </div>
                        }

                        if (message.User == "Sim")
                        {
                            <div class="text-right">
                                <div class="alert alert-warning d-inline-block mb-2 py-2">
                                    <span class="small text-muted">Sim - @message.Date</span>
                                    <br />
                                    <span>@message.Message</span>
                                </div>
                            </div>
                        }
                    }
                </div>
                <div class="card-footer">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Message..." @bind-value="_message" @bind-value:event="oninput" @onkeydown="OnMessagekeyDown">
                        <div class="input-group-append">
                            <button type="button" class="btn btn-primary" @onclick="SendMessageToSimSimi">
                                <span class="oi oi-comment-square"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@code {

    private string _message;

    protected override void OnInitialized()
    {
    }

    private async Task SendMessageToSimSimi()
    {
        if (!string.IsNullOrEmpty(_message))
        {
            var message = _message;
            _message = string.Empty;
            var result = await _simSimiAPI.SendMessage(message);
        }
    }

    private async Task OnMessagekeyDown(KeyboardEventArgs args)
    {
        if (args.Key == "Enter")
        {
            await SendMessageToSimSimi();
        }
    }

}